* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --primary: #fff;
  --secondary: #000;
  --accent: #d55;
  --accent-2: #d559;
  --icon-size: 32px;
}

body {
  background-color: var(--secondary);
}

body.no-scroll {
  overflow-y: hidden;
}

/*
 * SIDEBAR SECTION
 */

.sidebar {
    position: fixed;
    top: 0px;
    width: 294px;
    height: 100%;
    padding-block: 16px;
    z-index: 100000;
    background-color: var(--secondary);
    color: var(--primary);

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
}

.sidebar-mobile {
    display: none;
}

.header {
    margin-inline: 16px;
    margin-bottom: 8px;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    font-size: 18pt;
    font-weight: bold;
}

.head-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    flex: 1;
}

.invert {
    filter: invert(100%);
}

.logo {
    flex-basis: 1;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img {
    height: auto;
    width: var(--icon-size);
    max-height: 100%;
    max-width: 100%;
}

.nav {
    margin-block: 8px;
    overflow-y: auto;
    font-size: 16pt;
    font-weight: bold;
}

.nav > ul > li {
    list-style-type: none;
    padding: 16px;
    display: flex;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.active {
    background-color: var(--accent);
}

.nav > ul > li:hover {
    background-color: var(--accent-2);
}

.icon {
    height: var(--icon-size);
    max-width: 100%;
    max-height: 100%;
    margin-right: 16px;
}

.footer {
    margin-top: 8px;
    margin-inline: 16px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.mobile-hider {
    display: none;
    flex-basis: 1;
}

.foot-wrap {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: stretch;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 8px;
    font-size: 12pt;
}

.links > * {
    padding-right: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    color: var(--primary);
}

.links  *:hover {
    text-decoration: underline;
    color: var(--accent);
}

.copyright {
    font-size: 8pt;
    font-weight: 100;
}

.main {
    margin-left: 294px;
    padding: 16px;
    background-color: var(--primary);
}

.main > * {
    margin-bottom: 16px;
    font-size: 16pt;
    max-width: 100%;
}

.main iframe {
    border-radius: 16px;
    padding: 8px;
    box-shadow: 0px 4px 16px -12px black;
}

.main img {
    border-radius: 16px;
    margin-bottom: 16px;
    box-shadow: 0px 4px 16px -12px  black;
}

.page-title {
    font-size: 32pt;
    font-weight: 900;
    margin-bottom: 24px;
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        opacity: 0;
        width: 100%;
    }

    .sidebar.triggered {
        transition: transform .5s, opacity .5s;
    }

    .sidebar.toggled {
        transform: translateX(0);
        opacity: 1;
    }

    .sidebar-mobile {
        position: fixed;
        top: 0px;
        width: 64px;
        height: 100%;
        padding-block: 16px;
        z-index: 99999;
        background-color: var(--secondary);
        color: var(--primary);

        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: stretch;
    }

    .mobile-hider {
        display: block;
    }

    .main {
        margin-left: 64px;
    }

    .page-title {
        font-size: 24pt;
    }
}
